.gates-screen {
    display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

.gates-screen .safe-area {
	width: 100%;
	max-width: var(--max-width);
    padding: 30px;
}

.gates-screen h1 {
    font-weight: normal;
    margin-bottom: 40px;
}

.gates-screen h1 span {
    color: var(--white-text);
}

.gates-screen .gate-display {
    background: var(--white-panel);
    padding: 30px;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}

.gates-screen .gate-display .gate-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--white-outline);
}

.gates-screen .gate-display .gate-top h3 {
    color: #fff;
    margin: 0;
}

.gates-screen .gate-display .gate-top h3 > span {
    font-weight: 500;
    color: var(--white-text);
}

.gates-screen .gate-display .gate-top button {
    cursor: pointer;
    border: none;
    color: #FFF;
    background: #FFF3;
    border-radius: 5px;
}

.gates-screen .gate-display .gate-top button:hover {
    background: #FFF5;
}

.gates-screen .gate-display .empty-reservations {
    margin-top: 15px;
}