.cinema-tec-header {
    display: flex;
	align-items: center;
	flex-direction: column;
}

.cinema-tec-header .safe-area {
	width: 100%;
	max-width: var(--max-width);
}

.cinema-tec-header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.cinema-tec-header .header-left,
.cinema-tec-header .header-right {
    display: flex;
    align-items: flex-end;
}

.cinema-tec-header .header-container h1 {
    margin: 0;
    font-weight: normal;
    margin-right: 60px;
    font-size: 36px;
}

.cinema-tec-header .header-container h2 {
    margin: 0;
    font-weight: normal;
    margin-right: 20px;
    font-size: 16px;
    align-self: center;
    color: var(--white-text);
}

.cinema-tec-header .header-container h2 span {
    color: #fff;
}

.cinema-tec-header .header-container a {
    font-weight: normal;
    padding-bottom: 5px;
    color: var(--white-text);
}

.cinema-tec-header .header-container a:not(:last-child) {
    margin-right: 40px;
}

.cinema-tec-header .header-container a:hover {
    color: #fff;
}

.cinema-tec-header .header-container a.active {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.cinema-tec-header .header-container .options-container {
    position: relative;
}

.cinema-tec-header .header-container .user-button {
    cursor: pointer;
    border: none;
    background: none;
    color: #fff;
    font-size: 40px;
}

.cinema-tec-header .header-container .logout-button {
    cursor: pointer;
    position: absolute;
    border: none;
    background: #fff;
    padding: 5px 30px;
    border-radius: 5px;
    color: var(--main-color);
    opacity: 0;
    top: 60px; right: 0;
    transition: all 300ms ease;
}

.cinema-tec-header .header-container .logout-button.active {
    opacity: 1;
    top: 50px; right: 0;
}

.cinema-tec-header .header-container .logout-button.active:hover {
    opacity: 0.7;
}

.cinema-tec-header .header-container .logout-button::after {
    content: "";
    position: absolute;
    top: -40%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff;
  }

@media only screen and (max-width: 700px) {
    .cinema-tec-header .header-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .cinema-tec-header .header-right {
        align-self: flex-end;
        margin-bottom: 15px;
    }

    .cinema-tec-header .header-container h1 {
        margin-right: 20px;
    }

    .cinema-tec-header .header-container a:not(:last-child) {
        margin-right: 20px;
    }
}